* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */

}

.header {
    width: 100%;
    height: 35px;
    background-color: #1e1f29;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header i {
    color: red;
    font-size: 13px;
    position: relative;
    left: -10px;
}

.header li:hover {
    color: red;
}

.right-icons,
.left-icons {
    margin-top: 10px;

}

.left-icons li {
    display: inline-block;
    margin-left: 30px;
    transition: 1s;
    text-decoration: none;
    position: static;

}

.right-icons li {
    display: inline-block;
    margin-right: 25px;
    transition: 1s;
}

.under-header {
    width: 100%;
    background-color: #15161d;
    height: 100px;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.form {
    margin-top: 30px;
    margin-left: -50px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-select {
    height: 40.5px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 15px;
    font-family: inherit;
    font-size: inherit;

}

.form input {
    height: 40.5px;
    width: 250px;
    padding: 0px 15px;
    margin-left: -3px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btn {
    height: 40.5px;
    width: 120px;
    background: #d10024;
    color: white;
    border: none;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.cart {
    display: inline-flex;
    padding: 35px;
}

.cart i {
    display: flex;
    justify-content: center;
}

.cart li {
    list-style: none;
    line-height: 1.75;
}

.cart #list-1 {
    margin-right: 40px;
}

.navbar {
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    text-indent: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #1e1f29;
    transition: 1s;
    position: sticky;
}

.navbar ul li a:hover {
    color: #d10024;
}

.under-nav {
    border-bottom: 2px solid #1e1f29;
}

.laptops {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.laptops img {
    height: 220px;
    border: 1px solid #1e1f29;
}

.Categories {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
    border: 2px solid #1e1f29;

}

.shop-img img {
    height: 210px;
}

.shop::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.shop::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg) translateX(-100%);
    -ms-transform: skewX(-45deg) translateX(-100%);
    transform: skewX(-45deg) translateX(-100%);
}

.shop-body h3 {
    position: absolute;
    inset: 50px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.cta-btn {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    font-size: 20px;
    color: #333;
}

.section-2 ul li {
    display: inline-block;
    text-indent: 10px;
    position: relative;
}

.section-2 ul li a {
    text-decoration: none;
    color: #333;

}

.section-2 ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 2px;
    background-color: #D10024;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.section-2 ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.section-3 {
    display: flex;
    justify-content: space-around;
}

.prod-1 {
    position: relative;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.prod-1:hover{
    -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
    box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.prod-1 .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    background: #1e1f29;
    text-align: center;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
}

/* .prod-1:hover .add-to-cart {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
} */

.prod-1 .add-to-cart .add-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.add-btn i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #d10024;
    opacity: 9;
    
}

.prod-1 .add-to-cart .add-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
    opacity: 10;
    visibility: visible;
}

.prod-1.add-to-cart .add-btn:hover>i {
    opacity: 1;
    visibility: visible;
    
    
}

.prod-1 img {
    width: 250px;
    height: 200px;
    margin-top: 14px;
}

.prod-1 ul li {
    list-style: none;
    text-align: center;
    line-height: 0.5;
    margin-top: 25px;
}

.stars {
    color: #d10024;
    text-align: center;
    margin-top: 25px;
}

.icons ul li {
    display: inline-block;
}

.icons ul li i {
    position: relative;
    left: 80px;
    text-indent: 8px;
}
.section-4{
    width: 100%;
    height: 400px;
    background: #e7e4ed;
    margin-top: 80px;
}
.section-4 ul{
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    
}
.section-4 ul li{
    display: inline-block;
    /* padding: 20px 20px; */
    margin-top: 100px;
    width: 100px;
    height: 100px;
    border: 1px solid #d10024;
    color: white;
    background: #d10024;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}
.section-4 ul li>.days{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.section-4 h2{
    text-align: center;
    margin-top: 30px;
}
.section-4 p{
    display: flex;
    justify-content: center;
    margin-top: 28px;
    word-spacing: 1px;
    letter-spacing: 2px;
}
.section-4 button{
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    left: 43%;
    top: 15px;
}
.newsletter{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.newsletter p{
    font-size: 40px;
    font-style: italic;
}
.newsletter input{
    height: 40px;
    width: 90%;
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid #1e1f29;
    color: #15161d;
}
.newsletter input::placeholder{
    text-align: center;
    
}
.newsletter button{
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    left: 24%;
    top: 15px;
}
.social ul{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -40px;
    
}
.social ul li{
    display: inline-block;
    list-style: none;
    text-indent: 5px;
    padding: 10px 10px;     
}
.social ul li i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(148, 143, 143, 0.25);  
    height: 40px;
    width: 40px;   
    cursor: pointer;
}
.social ul li i:hover{
    color: #D10024;
    background: #e7e4ed;
}
.footer{
    background: #1e1f29;
    width: 100%;
    height: 500px;
    margin-top: 40px;
    border-top: 2px solid #D10024;
}
.footer-1{
    height: 350px;
    width: 100%;
    background: #15161d;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 70px 10px;
    
}
.about h2{
    text-transform: uppercase;
    font-family:monospace;
    font-size: 30px;
}
.about p{
    margin-top: 10px;
}
.about i{
    position: relative;
    left: -10px;
    color: #D10024;
}
.about ul li{
    margin-top: 15px;
    list-style: none;
    margin-left: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.about ul li:hover{
    color: #D10024;
}
.cards i{
    font-size: 40px;
   position: relative;
   left: 40%;
   top: 40px;
}
