* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */

}

.header {
    width: 100%;
    height: 35px;
    background-color: #1e1f29;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header i {
    color: red;
    font-size: 13px;
    position: relative;
    left: -10px;
}

.header li:hover {
    color: red;
}

.right-icons,
.left-icons {
    margin-top: 10px;

}

.left-icons li {
    display: inline-block;
    margin-left: 30px;
    transition: 1s;
    text-decoration: none;
    position: static;

}

.right-icons li {
    display: inline-block;
    margin-right: 25px;
    transition: 1s;
}

.under-header {
    width: 100%;
    background-color: #15161d;
    height: 100px;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.form {
    margin-top: 30px;
    margin-left: -50px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-select {
    height: 40.5px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 15px;
    font-family: inherit;
    font-size: inherit;

}

.form input {
    height: 40.5px;
    width: 250px;
    padding: 0px 15px;
    margin-left: -3px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btn {
    height: 40.5px;
    width: 120px;
    background: #d10024;
    color: white;
    border: none;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.cart {
    display: inline-flex;
    padding: 35px;
}

.cart i {
    display: flex;
    justify-content: center;
}

.cart li {
    list-style: none;
    line-height: 1.75;
}

.cart #list-1 {
    margin-right: 40px;
}

.navbar {
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    text-indent: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #1e1f29;
    transition: 1s;
    position: sticky;
}

.navbar ul li a:hover {
    color: #d10024;
}

.under-nav {
    border-bottom: 2px solid #1e1f29;
}

.laptops {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.laptops img {
    height: 220px;
    border: 1px solid #1e1f29;
}

.Categories {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
    border: 2px solid #1e1f29;
    
}
.shop-img img{
    height: 210px;
}

.shop::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.shop::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: #D10024;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg) translateX(-100%);
    -ms-transform: skewX(-45deg) translateX(-100%);
    transform: skewX(-45deg) translateX(-100%);
}
.shop-body h3{
    position: absolute;
    inset: 45px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.cta-btn{
    position: absolute;
    top: 100px;
    left: 45px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width:660px) {
    .header {
        width: 100%;
        height: fit-content;
        line-height: 2;
    }

    .under-header {
        width: 100%;
        height: 250px;
        display: block;

    }
}